<!doctype html>
<html>

<head>
    <title>Consulta de endereço</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="padding: 1.5rem">
        <div class="card">
            <div class="card-header text-center">
                <h2>Consulta de endereço</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <form action="/" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="cep" placeholder="Digite o CEP..."
                                pattern="[0-9]{8}" title="Somente números, 8 dígitos" size="8" minlength="8"
                                maxlength="8" value="{{if .CEP}}{{.CEP}}{{end}}" required>
                            <div class="input-group-append">
                                <input class="btn btn-outline-secondary" type="submit" value="Consultar">
                            </div>
                        </div>
                    </form>
                </div>
                {{if .Address}}
                <div class="container" style="padding: 1.5rem">
                    <div class="row">
                        <div class="col-2">Logradouro:</div>
                        <div class="col-10">{{.Address.Street}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Bairro:</div>
                        <div class="col-10">{{.Address.Neighborhood}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Cidade:</div>
                        <div class="col-10">{{.Address.City}}</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Estado:</div>
                        <div class="col-10">{{.Address.State}}</div>
                    </div>
                </div>
                {{end}}
                {{if .Msg}}
                <div class="container" style="padding: 1.5rem">
                    <div class="alert alert-danger" role="alert">
                        {{.Msg}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>